.movie-card {
    background-color: tomato;
    padding: 2rem;

    .title {
        border: 1px solid;
        border-radius: 1rem;
        text-align: center;
        padding: 0.5rem;
    }

    .movie-info {
        text-align: center;
        padding: 0.5rem;
    }



}